dist/
*.egg-info/

.coverage.*
__pycache__/
.pytest_cache/

docs/_build/
stormwater_monitoring_datasheet_extraction*.rst
docs/modules.rst
docs/**/*.pickle


.env
.pytype/
.github/workflows/CI_CD_act.yml
.vscode/

# Downloaded from https://<your_fm_domain>.fmphost.com/fmi/admin/apidoc/
.openapi.admin.json
.FM_README.txt

# Downloaded from https://<your_fm_domain>.fmphost.com/fmi/data/apidoc/
.openapi.data.json
# Example data API call.
.listlayouts.py