# Packaging
# .Python
# build/
# develop-eggs/
dist/
# downloads/
# eggs/
# .eggs/
# lib64/
# parts/
# sdist/
# var/
# pip-wheel-metadata/
# share/python-wheels/
*.egg-info/
# .installed.cfg
# *.egg
# MANIFEST

# Installer
# pip-log.txt
# pip-delete-this-directory.txt

# Test coverage
# cov_report
# .coverage
.coverage.*
# .cache
# coverage.xml
# *.cover
# *.py,cover
__pycache__/
.pytest_cache/
# cover/
# *_test_report.xml

# Docs
docs/_build/
stormwater_monitoring_datasheet_extraction*.rst
docs/modules.rst
docs/**/*.pickle

# Env
.env
# .venv
# env/
# venv/
# ENV/
# env.bak
# venv.bak
# *.sif

# pytype
.pytype/

#pycharm
# .idea/*

# VS Code
# .vscode
# *.mustache

# MacOS
# .DS_Store

# Workflows
.github/workflows/CI_CD_act.yml

.vscode/