dist/
*.egg-info/

.coverage.*
__pycache__/
.pytest_cache/

docs/_build/
stormwater_monitoring_datasheet_extraction*.rst
docs/modules.rst
docs/**/*.pickle


.env
.pytype/
.github/workflows/CI_CD_act.yml
.vscode/
.openapi.json